/* ========== LOGIN SECTION ========== */
.login__img {
   width: 80%; /* Increase width */
   height: auto; /* Adjust height automatically based on content */
   text-align: center;
   margin: 0 auto; /* Center the image container horizontally */
}

.login__img img {
   width: 100%; /* Ensure the image takes the full width of its container */
   height: auto; /* Maintain the image’s aspect ratio */
   object-fit: contain;
}

.login__form {
   padding: 50px;
   background: var(--secondary-color);
   position: relative;
   width: 100%; /* Ensure the form takes the full width of the container */
   max-width: 600px; /* Adjust max-width to control the form's maximum width */
   margin: auto; /* Center the form horizontally */
}

.login__container {
   box-shadow: rgba(17, 12, 46, 0.15) 0px 24px 50px 0px; /* Reduced shadow size */
   margin-top: 100px;
   width: 50%; /* Container width */
   max-width: 600px; /* Ensure the container doesn’t exceed the maximum width */
   margin-left: auto; /* Center container horizontally */
   margin-right: auto; /* Center container horizontally */
}

.login__form .user {
   width: 80px;
   height: 80px;
   position: absolute;
   top: -30px;
   left: 50%;
   transform: translate(-50%, -50%);
}

.login__form .user img {
   width: 100%;
}

.login__form h2 {
   color: #fff;
   text-align: center;
   margin-bottom: 2rem;
}

.login__form input {
   width: 100%;
   padding: 0.5rem;
   border-radius: 5px;
   border: none;
   font-size: 0.8rem;
   color: var(--heading-color);
   margin-bottom: 1rem; /* Add margin between inputs */
}

.login__form input:focus {
   outline: none;
}

.login__form p {
   font-size: 0.8rem;
   color: #fff;
   margin-top: 1rem;
   text-align: center;
}

.login__form p a {
   color: var(--heading-color);
   text-decoration: none;
   margin-left: 5px;
   font-weight: 500;
}

.auth__btn {
   background: var(--heading-color) !important;
   width: 100%;
   color: #fff !important;
   padding: 0.7rem; /* Add padding for a better button look */
}

/* =============== RESPONSIVE ================ */
@media only screen and (max-width: 768px) {
   .login__img {
      display: none;
   }

   .login__form {
      width: 80%; /* Adjust for medium screens */
      margin: auto;
   }

   .login__container {
      padding-bottom: 3rem;
      margin-top: 70px; /* Adjusted for responsiveness */
   }
}

@media only screen and (max-width: 576px) {
   .login__form {
      width: 100%; /* Full width for smaller screens */
   }

   .login__container {
      padding-bottom: 1rem;
      margin-top: 50px; /* Further adjusted for smaller screens */
   }
}
