@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

.active{
  color:#63AB45;
}

.horizontal-slider{
  width: 100%;
  height: 4px;
  background: #ddd;
  position: relative;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #63ab45;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #497e33;
}

.hoverImg {
  width: 100%;
  transition: 0.9s all ease-in-out;
}

.hoverImg:hover {
  transform: scale(1.2);
}

.transition-bg {
  transition: 0.5s all ease-in-out;
}

::selection {
  background: rgb(32, 181, 32);
  color: white;
}

/* .active{
  color:#63ab45;
} */

.horizontal-slider {
  width: 100%;
  height: 4px;
  background-image: #ddd;
  position: relative;
}

.thumb {
  height: 20px;
  width: 20px;
  background-color: #007bff;
  border-radius: 50%;
  cursor: grab;
  position: absolute;
  top: -8px;
  outline: none
}

.track {
  height: 4px;
  position: absolute;
  top: 0;
}